@charset "UTF-8";
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");
.container-about-us {
  min-height: 450px;
  margin: 0; }

.container-about-us .stage {
  height: 300px;
  width: 500px;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 9999px;
  transform-style: preserve-3d; }

.container-about-us .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0); }

.container-about-us .layer:after {
  font: 135px/0.9 'Courier';
  content: 'ABOUT\Aó‿ó US';
  white-space: pre;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13); }

.container-about-us .layer:nth-child(1):after {
  transform: translateZ(0px); }

.container-about-us .layer:nth-child(2):after {
  transform: translateZ(-1.5px); }

.container-about-us .layer:nth-child(3):after {
  transform: translateZ(-3px); }

.container-about-us .layer:nth-child(4):after {
  transform: translateZ(-4.5px); }

.container-about-us .layer:nth-child(5):after {
  transform: translateZ(-6px); }

.container-about-us .layer:nth-child(6):after {
  transform: translateZ(-7.5px); }

.container-about-us .layer:nth-child(7):after {
  transform: translateZ(-9px); }

.container-about-us .layer:nth-child(8):after {
  transform: translateZ(-10.5px); }

.container-about-us .layer:nth-child(9):after {
  transform: translateZ(-12px); }

.container-about-us .layer:nth-child(10):after {
  transform: translateZ(-13.5px); }

.container-about-us .layer:nth-child(11):after {
  transform: translateZ(-15px); }

.container-about-us .layer:nth-child(12):after {
  transform: translateZ(-16.5px); }

.container-about-us .layer:nth-child(13):after {
  transform: translateZ(-18px); }

.container-about-us .layer:nth-child(14):after {
  transform: translateZ(-19.5px); }

.container-about-us .layer:nth-child(15):after {
  transform: translateZ(-21px); }

.container-about-us .layer:nth-child(16):after {
  transform: translateZ(-22.5px); }

.container-about-us .layer:nth-child(17):after {
  transform: translateZ(-24px); }

.container-about-us .layer:nth-child(18):after {
  transform: translateZ(-25.5px); }

.container-about-us .layer:nth-child(19):after {
  transform: translateZ(-27px); }

.container-about-us .layer:nth-child(20):after {
  transform: translateZ(-28.5px); }

.container-about-us .layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25); }

.container-about-us .layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px crimson;
  text-shadow: 6px 0 6px #38050f, 5px 5px 5px #210309, 0 6px 6px #38050f; }

.container-about-us .layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #ad102f; }

.container-about-us .layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1); }

.container-about-us .layer:first-child:after {
  color: #fff;
  text-shadow: none; }

@keyframes ಠ_ಠ {
  100% {
    transform: rotateY(-40deg) rotateX(-43deg); } }
.hamburger {
  position: absolute;
  z-index: 9999;
  padding-top: 20px;
  margin-left: 0.25%;
  display: inline-block; }
  .hamburger:hover {
    cursor: pointer; }
  .hamburger div {
    background-color: crimson;
    border-radius: 1px;
    height: 6px;
    width: 30px; }
    .hamburger div:not(:last-child) {
      margin-bottom: 5px; }

nav.sidenav {
  background-color: white;
  z-index: 999;
  display: inline-block;
  position: fixed;
  height: 100vh;
  width: 225px;
  left: -225px;
  transition: transform 0.3s; }
  nav.sidenav .logo {
    margin: 12vh 0;
    text-align: center; }
    nav.sidenav .logo img {
      border-radius: 50%; }
  nav.sidenav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: crimson;
    padding: 5px 0; }
    nav.sidenav a:hover {
      background-color: #f5f5f5; }
    nav.sidenav a:visited {
      color: crimson; }
    nav.sidenav a.active {
      background-color: crimson;
      color: white; }

.sidenav-active .cover {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 5000;
  transition: background-color .3s, transform 0.3s; }

nav.sidenav, .hamburger, .cover {
  transition: transform 0.3s; }
  .sidenav-active nav.sidenav, .sidenav-active .hamburger, .sidenav-active .cover {
    transform: translateX(225px); }

.noscroll {
  position: relative;
  overflow: hidden; }

.txt-fixed, .txt-rotate {
  font-size: 35px; }

.scroll-text {
  overflow: hidden;
  font-size: 35px;
  margin-bottom: 10px; }
  .scroll-text__container {
    overflow: hidden;
    height: 40px; }
    .scroll-text__container__text {
      display: inline;
      float: left;
      margin: 0; }
    .scroll-text__container__list {
      margin-top: 0px;
      text-align: left;
      list-style: none;
      -webkit-animation-name: change;
      -webkit-animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 10s;
      animation-iteration-count: infinite; }
      .scroll-text__container__list__item {
        line-height: 40px;
        margin: 0; }

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-webkit-keyframes change {
  0%, 48%, 100% {
    transform: translate3d(0, 0, 0); }
  12%, 100% {
    transform: translate3d(0, -52%, 0); }
  0%, 100% {
    transform: translate3d(0, 0, 0); } }
@-o-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-o-keyframes change {
  0%, 48%, 100% {
    transform: translate3d(0, 0, 0); }
  12%, 100% {
    transform: translate3d(0, -52%, 0); }
  0%, 100% {
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@-moz-keyframes change {
  0%, 48%, 100% {
    transform: translate3d(0, 0, 0); }
  12%, 100% {
    transform: translate3d(0, -52%, 0); }
  0%, 100% {
    transform: translate3d(0, 0, 0); } }
@keyframes opacity {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }
@keyframes change {
  0%, 0%, 0% {
    transform: translate3d(0, 0, 0); }
  52%, 0% {
    transform: translate3d(0, -52%, 0); }
  96%, 0% {
    transform: translate3d(0, 0, 0); } }
