body{
  min-width:1200px;        /* Suppose you want minimum width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:1200px;            /* As IE6 ignores !important it will set width as 1000px; */
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline
}

#popup-login .avatar, #popup-reg .avatar{
  display: inline-block;
}

#popup-login .title-login, #popup-reg .title-login{
  font-family: 'Segoe UI';
  font-weight: bold;
  font-size: 28px;
  vertical-align: top;
  color: #ed1b24;
  text-transform: uppercase
}

#popup-login .avatar-login, #popup-reg .avatar-login{
  vertical-align: top;
  margin-right: 1em;
}


.modal-header .btn-close{
  background-image: url(../images/close_gray.png);
  width: 24px;
  height: 24px;
  margin-top: -20px;
  margin-right: -20px;
  float:right;
  opacity:.2;
  filter:alpha(opacity=20);
}

.modal-header .btn-close:hover, .modal-header .btn-close:focus{
  background-image: url(../images/close_red.png);
  opacity:.7;
  filter:alpha(opacity=70);
}

.n-vertical {
  height: 12px;
  width: 100%;
  position: absolute;
  left: 15%;
}

.n-vertical.top {
  top: -13px
}

.n-vertical.bottom {
  bottom: -14px
}

@media (max-width: 991px) {
  .n-vertical.top {
    top: -13.5px
  }

  .n-vertical.bottom {
    bottom: -13.5px
  }
}

.n-vertical span {
  display: block;
  float: left;
  width: 10%;
  height: 100%
}

.n-vertical span:nth-child(2n+2) {
  background: #F05260;
}

.n-vertical span:nth-child(2n+1) {
  background: #03bedb;
}

.n-vertical span:nth-child(3n+1) {
  background: #99EDA3;
}

.popup-wap {
  position: relative;
  padding: 20px;
  border: 1.5px solid #ECA7A7;
  border-radius: 8px;
  margin: 12px
}

.modal {
  text-align: center;
  padding: 0!important;
  overflow-y: auto !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.form-group .floating-label {
  top: 8px;
  color: #a3afb7;
  margin-left: 25px;
  position: absolute;
  left: 0;
  font-size: 16px;
  pointer-events: none;
  transition: .3s ease all;
  font-weight: 500;
}

.form-group {
  position: relative;
  padding: 0px 15px 0px 15px;
}

.form-group .focus:focus, .form-group input:-webkit-autofill:focus {
  background-image: linear-gradient(#87d3ed, #87d3ed), linear-gradient(#e4eaec, #e4eaec) !important;
  background-size: 100% 3px,100% 2px;
  outline: 0;
  transition-duration: .3s;
}

.form-group .focus {
  padding: 0px 10px -5px 10px;
  height: 40px;
  float: none;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-size: 0 2px,100% 1px;
  transition: background 0s ease-out;
}

.form-group .focus:not(.empty){
  padding-top: 5px;
  padding-left: 50%;
}

.form-group .focus:not(.empty) ~ .floating-label {
  top: 8px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.form-group .focus:focus{
  padding-top: 16px;
  padding-left: 10px;
}

.form-group .focus:focus ~ .floating-label {
  color: #2f7a93;
  top: 0px;
  font-size: 13px;
  font-weight: bold;
}

#footer .form-group .focus:not(.empty){
  padding-top: 16px;
  padding-left: 15;
  text-align: right;
}

#footer .form-group .focus:not(.empty) ~ .floating-label {
  top: 0px;
  font-size: 13px;
  font-weight: bold;
  color: #2f7a93;
}

#footer .form-group .focus:focus{
  padding-top: 16px;
  padding-left: 15px;
  text-align: right;
}

#footer .form-group .focus:focus ~ .floating-label {
  color: #2f7a93;
  top: 0px;
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 991px) {

  .form-group .focus:not(.empty){
    padding-left: 10px;
  }

  .form-group .focus:not(.empty) ~ .floating-label {
    display: none;
  }

  .form-group .focus:focus{
    padding-top: 5px;
    padding-left: 10px;
  }

  .form-group .focus:focus ~ .floating-label {
    display: none;
  }
}

.text-danger{
  position: relative;
  top: 10px;
  margin: 5px 0px 0px 30px;
  color: red;
  opacity: 0.5;
}

.text-danger:hover{
  opacity: 0.9;
}

input[type=checkbox], input[type=radio]{
  visibility: hidden;
}

input[type=checkbox]:checked + label:after{
  opacity: 1;
}

input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../images/checks.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

.chkbox{
  position: relative;
  margin: 10px 0px 0px 30px;
  color: #15608c;
}

#chkbox-label, #chkbox-agreement, #chkbox-email{
  padding-top: 10px;
  margin-left: 0px;
  font-size: 16px;
}

.chkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.chkbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.chkbox label:after {
  content: '';
  width: 12px;
  height: 6px;
  position: absolute;
  top: 6px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.chkbox label:hover::after {
  opacity: 0.5;
}

.b-btn .input-group .form-control {
  width: 100%;
  height: auto;
  border-radius: 4px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-family: 'Segoe UI';
  text-transform: uppercase;
  cursor: pointer;
}


.popup-open-line{
  content: "";
  position: relative;
  top: 20px;
  margin-left: 0px;
  width: 100%;
  border-bottom: 1px solid #707070;
}

.popup-close-line{
  content: "";
  position: relative;
  margin-right: 0px;
  top: 20px;
  width: 100%;
  border-bottom: 1px solid #707070;

}

.lb-haveaccount{
  position: relative;
  color: #15608c;
  margin-top: 10px;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

#popup-login .fb .form-control {
  width: 100%;
  background-color: #4962a4;
  border-color: #4962a4;
  color: #fff;
  text-align: center
}

#popup-login .fb .input-group-addon {
  background-color: #2e4c9c;
  border-color: #2e4c9c
}

#popup-login .gm .form-control {
  width: 100%;
  background-color: #e8353c;
  border-color: #e8353c;
  color: #fff;
  text-align: center
}

#popup-login .gm .input-group-addon {
  background-color: #d1131a;
  border-color: #d1131a
}

#popup-login .input-group-addon {
  padding: 0 10px;
  border-radius: 4px 0 0 4px;
}

#popup-login .input-group-addon .fa {
  font-size: 26px;
  width: 26px;
  color: #fff;
  background: none;
}

imp{
  color: red;
}

.regform .nhan{
  margin-top: 5px;
}

.regform .form-control{
  margin-bottom: 10px;
}

.gioitinh {
  margin: 0;
}

.gioitinh label {
  font-size: 16px !important;
  margin: 10px 0px 10px 0px;
}

.gioitinh label span {
  border-radius: 4px;
  background-color: #f6f6f6;
  border-color: #959595;
}

.lblgioitinh{
  margin-top: 10px;
}

.input-err{
  border-color:#2b542c;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #67b168;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #67b168
}

.navbar-bcl{
  min-height: 40px;
}

.navbar-brand{
  width: 90px;
  margin-left: 60px;
  padding: 9px 5px;
}

#footer {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: white;
}

#footer h2{
  font-size:20px;
  text-align: center;
    text-transform: uppercase;
	  padding-left: 10px;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer h2:hover{
   color: pink;
   margin-left: 25px;
}

#footer h3{
    font-size: 15px;
	  padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    opacity: 0;
}

#footer h4{
    font-size:20px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 3px solid #eeeeee;
    padding-right: 0px;
    margin-right: 0px;
    padding-top:0px;
    margin-bottom: 30px;
    margin-left: 20px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li, #footer .logo-delivery, #footer .logo-bcl{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left: 10px;
}

#footer .logo-delivery:hover, #footer .logo-bcl:hover{
  margin-left: 30px;
}

.flip-container{
  perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
}

.flip-container, .front, .back {
  max-width: 150px;
  max-height: 150px;
  width: auto;
	height: auto;
  margin-bottom: 150px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

#social:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
}
#social {
  margin-top: -5px;
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.social-fb:hover {
  color: #3B5998;
}
.social-tw:hover {
  color: #4099FF;
}
.social-gp:hover {
  color: #d34836;
}
.social-em:hover {
  color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}

.fright{
  display:block;
  float:right !important;
}

#footer .copyright {
    height: 40px;
    line-height: 40px;
    color: #1d1d1d;
    float: left
}

#footer .copyright a {
    color: #8d8c8a
}

#footer .copyright a:hover {
    color: #d11920
}
#footer .insset-footer {
    margin-top: 14px;
    margin-right: 50px
}

@media only screen and (max-width: 960px) {
    #footer .insset-footer {
        display: none
    }
}

#footer .insset-footer li {
    float: left
}

#footer .insset-footer li:first-child a {
    border-left: none
}

#footer .insset-footer li a {
    display: block;
    padding: 0 14px;
    color: #1d1d1d;
    border-left: #1d1d1d 1px solid;
    padding-bottom: 3px;
    line-height: 12px
}

#footer .insset-footer li a:hover {
    color: #d11920
}

.submit-mail-title{
  height: 42px;
  line-height: 40px;
  font-size: 17px;
  text-align: right;
  margin-right: 20px;
}

@media (max-width: 599px) {
    .submit-mail-title {
        text-align: left;
    }
}

#footer p, #footer p1{
  font-family: 'SegoeUI';
  font-size: 30px;
  font-weight: bold;
}

#footer p{
  text-align: center;
}

#footer p1{
  text-align: right;
}
