body{
  overflow-x: hidden;
  margin: 0 auto;
  width: 100%;
}

@media(max-width: 767px){
  html, body { max-width: 100% !important;}
}

/* Preloader Style */

.preloader{
    position: relative;
    height: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fefefe;
     z-index: 99;
  }

.loader{
    width: 300px;
    height: 300px;
    margin: 15% auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader .loader-inner,
.loader .box-1,
.loader .box-2,
.loader .box-3{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 50px solid #0b2027;
    position: absolute;
    top: 0;
    left: 0;
}
.loader .loader-inner{
    border-width: 1px;
    border-color: #f28a03;
    opacity: 0;
    transform-origin: 50% 50%;
    -webkit-animation: loading-2 2s linear infinite;
    animation: loading-2 2s linear infinite;
    animation-delay: 2s;
}
.loader .loader-inner.box{ animation-delay: 2.5s; }
.loader .box-1{
    width: 275px;
    height: 137px;
    border-width: 25px;
    border-color :#ffa630;
    border-radius: 0;
    border-top-left-radius: 137px;
    border-top-right-radius: 137px;
    top: 12px;
    left: 12px;
    border-bottom: none;
    z-index: 3;
    transform-origin: 50% 100%;
    -webkit-animation: loading-1 0.8s linear infinite;
    animation: loading-1 0.8s linear infinite;
}
.loader .box-2{
    width: 250px;
    height: 250px;
    border-width: 2px;
    border-color: #ffa630;
    top: 25px;
    left: 25px;
    z-index: 2;
}
.loader .box-3{ z-index: 1; }
@-webkit-keyframes loading-1{
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loading-1{
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loading-2{
    49%{
        opacity: 0;
    }
    50%{
        -webkit-transform: scale(1);
        opacity: 1;
    }
    75%{
        -webkit-transform: scale(1.15);
        opacity: 0.4;
    }
    100%{
        -webkit-transform: scale(1.35);
        opacity: 0;
    }
}
@keyframes loading-2{
    49%{
        opacity: 0;
    }
    50%{
        -webkit-transform: scale(1);
        opacity: 1;
    }
    75%{
        -webkit-transform: scale(1.15);
        opacity: 0.4;
    }
    100%{
        -webkit-transform: scale(1.35);
        opacity: 0;
    }
}
@media only screen and (max-width: 360px){
    .loader{ overflow: hidden; }
}

/* End Preloader */

.display-none{
  display: none;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

nav.nav-header {
    min-height: 105px;
    max-height: 105px;
    border-right: 0;
    border-left: 0;
    border-top: 5px solid #bc1414 !important;
    border-bottom: 0;
    margin-bottom: 0px !important;
    border-radius: 0
}


.navbar-top-wap {
    background-image: url(../images/nav-top.png);
    width: 250px;
    height: 25px;
    margin-top: -5px;
    margin-right: 15px;
    font-size: 14px;
    right: 50px;
    float: right;
}

.userbox {
    text-align: center;
    padding: 0 0 0 0  !important;
    z-index: 1;
}

.userbox > a {
    padding: 0 3px 0px 6px;
    line-height: 16px;
    color: white;
    font-weight: 550;
}

.userbox > a + a {
    border-left: 1px solid #fff
}

.userbox > .logged-desktop > a {
    padding: 0 3px 0px 6px;
    line-height: 14px;
    transition: all 0.1s;
}

.userbox > .logged-desktop > a:hover {
    color: #ffc220 !important;
}

.avatar{
  display: inline-block;
}

.title-login{
  font-family: 'Segoe UI';
  font-weight: bold;
  font-size: 28px;
  vertical-align: top;
  color: #ed1b24;
  text-transform: uppercase
}

.avatar-login{
  vertical-align: top;
  margin-right: 1em;
}

.modal-header .btn-close{
  background-image: url(../images/close_gray.png);
  width: 24px;
  height: 24px;
  margin-top: -20px;
  margin-right: -20px;
  float:right;
  opacity:.2;
  filter:alpha(opacity=20);
}

.modal-header .btn-close:hover, .modal-header .btn-close:focus{
  background-image: url(../images/close_red.png);
  opacity:.7;
  filter:alpha(opacity=70);
}

.n-vertical {
  height: 12px;
  width: 100%;
  position: absolute;
  left: 15%;
}

.n-vertical.top {
  top: -13px
}

.n-vertical.bottom {
  bottom: -14px
}

@media (max-width: 991px) {
  .n-vertical.top {
    top: -13.5px
  }

  .n-vertical.bottom {
    bottom: -13.5px
  }
}

.n-vertical span {
  display: block;
  float: left;
  width: 10%;
  height: 100%
}

.n-vertical span:nth-child(2n+2) {
  background: #F05260;
}

.n-vertical span:nth-child(2n+1) {
  background: #03bedb;
}

.n-vertical span:nth-child(3n+1) {
  background: #99EDA3;
}

.popup-wap {
  position: relative;
  padding: 20px;
  border: 1.5px solid #ECA7A7;
  border-radius: 8px;
  margin: 12px
}

.modal {
  text-align: center;
  padding: 0!important;
  overflow-y: auto !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  min-width: 600px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#popup-terms .modal-dialog{
  width: 80%;
}

#popup-terms .content{
  font-size: 16px;
}

.form-group .floating-label {
  top: 8px;
  color: #a3afb7;
  margin-left: 25px;
  position: absolute;
  left: 0;
  font-size: 16px;
  pointer-events: none;
  transition: .3s ease all;
  font-weight: 500;
}

.form-group {
  position: relative;
  padding: 0px 15px 0px 15px;
}

.form-group .focus:focus, .form-group input:-webkit-autofill:focus {
  background-image: linear-gradient(#87d3ed, #87d3ed), linear-gradient(#e4eaec, #e4eaec) !important;
  background-size: 100% 3px,100% 2px;
  outline: 0;
  transition-duration: .3s;
}

.form-group .focus {
  padding: 0px 10px -5px 10px;
  height: 40px;
  float: none;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-size: 0 2px,100% 1px;
  transition: background 0s ease-out;
}

.form-group .focus:not(.empty){
  padding-top: 5px;
  padding-left: 50%;
}

.form-group .focus:not(.empty) ~ .floating-label {
  top: 8px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.form-group .focus:focus{
  padding-top: 16px;
  padding-left: 10px;
}

.form-group .focus:focus ~ .floating-label {
  color: #2f7a93;
  top: 0px;
  font-size: 13px;
  font-weight: bold;
}

#footer .form-group .focus:not(.empty){
  padding-top: 16px;
  padding-left: 15;
  text-align: right;
}

#footer .form-group .focus:not(.empty) ~ .floating-label {
  top: 0px;
  font-size: 13px;
  font-weight: bold;
  color: #2f7a93;
}

#footer .form-group .focus:focus{
  padding-top: 16px;
  padding-left: 15px;
  text-align: right;
}

#footer .form-group .focus:focus ~ .floating-label {
  color: #2f7a93;
  top: 0px;
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 991px) {

  .form-group .focus:not(.empty){
    padding-left: 10px;
  }

  .form-group .focus:not(.empty) ~ .floating-label {
    display: none;
  }

  .form-group .focus:focus{
    padding-top: 5px;
    padding-left: 10px;
  }

  .form-group .focus:focus ~ .floating-label {
    display: none;
  }
}

.text-danger{
  position: relative;
  top: 10px;
  margin: 5px 0px 0px 30px;
  color: red;
  opacity: 0.5;
}

.text-danger:hover{
  opacity: 0.9;
}

input[type=checkbox], input[type=radio]{
  visibility: hidden;
}

input[type=checkbox]:checked + label:after{
  opacity: 1;
}

input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../images/checks.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

.chkbox{
  position: relative;
  margin: 10px 0px 0px 30px;
  color: #15608c;
}

#chkbox-label, #chkbox-agreement, #chkbox-email{
  padding-top: 10px;
  margin-left: 0px;
  font-size: 16px;
}

.chkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.chkbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.chkbox label:after {
  content: '';
  width: 12px;
  height: 6px;
  position: absolute;
  top: 6px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.chkbox label:hover::after {
  opacity: 0.5;
}

.b-btn .input-group .form-control, .btn-dk {
    background-color: #f1022a;
    text-transform: uppercase;
    font-family: 'Segoe UI';
    font-size: 16px;
    padding: 0;
    height: 42px;
    line-height: 40px;
    border-radius: 4px;
}
.popup-open-line{
  content: "";
  position: relative;
  top: 20px;
  margin-left: 0px;
  width: 100%;
  border-bottom: 1px solid #707070;
}

.popup-close-line{
  content: "";
  position: relative;
  margin-right: 0px;
  top: 20px;
  width: 100%;
  border-bottom: 1px solid #707070;

}

.lb-haveaccount{
  position: relative;
  color: #15608c;
  margin-top: 10px;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.fb .form-control {
  width: 100%;
  background-color: #4962a4;
  border-color: #4962a4;
  color: #fff;
  text-align: center
}

.fb .input-group-addon {
  background-color: #2e4c9c;
  border-color: #2e4c9c
}

.gm .form-control {
  width: 100%;
  background-color: #e8353c;
  border-color: #e8353c;
  color: #fff;
  text-align: center
}

.gm .input-group-addon {
  background-color: #d1131a;
  border-color: #d1131a
}

.input-group-addon {
  padding: 0 10px;
  border-radius: 4px 0 0 4px;
}

.input-group-addon .fa {
  font-size: 26px;
  width: 26px;
  color: #fff;
  background: none;
}

imp{
  color: red;
}

.regform .nhan{
  margin-top: 5px;
}

.regform .form-control{
  margin-bottom: 10px;
}

.gioitinh {
  margin: 0;
}

.gioitinh label {
  font-size: 16px !important;
  margin: 10px 0px 10px 0px;
}

.gioitinh label span {
  border-radius: 4px;
  background-color: #f6f6f6;
  border-color: #959595;
}

.lblgioitinh{
  margin-top: 10px;
}

.input-err{
  border-color:#2b542c;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #67b168;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #67b168
}

.navbar-bcl{
  max-height: 40px;
  overflow: hidden;
}

.navbar-bcl .logo{
  margin-top: 5px;
}


.header-top .brand{
  width: 90px;
  margin-left: 40px;
  margin-top: 5px;
}

#footer {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: white;
}

#footer h2{
    font-weight: bold;
    font-size:20px;
    text-align: center;
    text-transform: uppercase;
	  padding-left: 10px;
    border-bottom: 3px solid #eeeeee;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer h2:hover{
   color: red;
   margin-left: 25px;
}

#footer h3{
    font-size: 15px;
	  padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    opacity: 0;
}

#footer h4{
    font-size:20px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 3px solid #eeeeee;
    padding-right: 0px;
    margin-right: 0px;
    padding-top:0px;
    margin-bottom: 30px;
    margin-left: 20px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}


#footer .pack-demo{
  max-width: 130px;
  max-height: 130px;
  width: auto;
  height: auto;
}

@media(max-width: 1200px){
    .dat-hang-ngay h2{
      display: none;
    }

    .dat-hang-ngay{
      margin-top: 20px;
    }

    #footer .flip-container{
      margin-top: 20px;
      max-width: 120px;
      max-height: 120px;
      width: auto;
      height: auto;
    }

    #footer .pack-demo{
      max-height: 100px;
      max-width: 100px;
      weight: auto;
      height: auto;
    }
}

@media(max-width: 1080px){
    #footer .right-footer{
      display: none;
    }
}

@media(max-width: 1060px){
    #footer .nhan-email{
      padding-right: 20px;
    }
}

@media(max-width: 1040px){
    #footer .nhan-email{
      padding-right: 40px;
    }

    .navbar-top-wap{
      margin-right: 50px;
    }

    .cartbox{
      margin-right: 30px;
    }
}

@media(max-width: 1020px){
    .dat-hang-ngay{
      display: none;
    }

    #footer .footer-widget .container .row{
      margin-right: -200px !important;
    }

    .insset-footer{
      padding-right: 50px;
    }
}


@media(max-width: 767px){
  #footer .footer-widget{
         display: block;
  }

  #footer .dat-hang-ngay{
      margin-left: -70px;
  }

  #footer .pack-demo{
    max-height: 130px;
    max-width: 130px;
    weight: auto;
    height: auto;
  }

  #navbar .col-logo{
    margin-left: auto;
    margin-right: -50%;
  }
}

@media(max-width: 750px){
  #footer .dat-hang-ngay{
      max-width: 160px;
      max-height: 160px;
      width: auto;
      height: auto;
      padding-top: 20px;
  }
}




#footer ul.quick-links li, #footer .logo-delivery, #footer .logo-bcl{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left: 10px;
}

#footer ul.quick-links li a{
  font-weight: 333;
    text-transform: uppercase;
  color:black;
}

#footer .thuc-don-1 h2{
  width: 200px;
}

#footer .thuc-don-1 .item-list, #footer .thuc-don-2 .item-list{
  padding-left: 10px;
  border-left: 2px solid red;
}

#footer .logo-delivery:hover, #footer .logo-bcl:hover{
  margin-left: 30px;
}

.flip-container{
  perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
}

.flip-container, .front, .back {
  max-width: 150px;
  max-height: 150px;
  width: auto;
	height: auto;
  margin-bottom: 0px;
}

#footer .flip-container{
  margin-bottom: 140px;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}

#social:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
}
#social {
  margin-top: -5px;
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.social-fb:hover {
  color: #3B5998;
}
.social-tw:hover {
  color: #4099FF;
}
.social-gp:hover {
  color: #d34836;
}
.social-em:hover {
  color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}

.fright{
  display:block;
  float:right !important;
}

#footer .copyright {
    height: 40px;
    line-height: 40px;
    color: #1d1d1d;
    float: left
}

#footer .copyright a {
    color: #8d8c8a
}

#footer .copyright a:hover {
    color: #d11920
}
#footer .insset-footer {
    margin-top: 14px;
    margin-right: 50px
}

@media (max-width: 960px) {

}

#footer .insset-footer li {
    float: left
}

#footer .insset-footer li:first-child a {
    border-left: none
}

#footer .insset-footer li a {
    display: block;
    padding: 0 14px;
    color: #1d1d1d;
    border-left: #1d1d1d 1px solid;
    padding-bottom: 3px;
    line-height: 12px
}

#footer .insset-footer li a:hover {
    color: #d11920
}



.submit-mail-title{
  height: 42px;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
}

#footer p, #footer p1{
  font-family: 'SegoeUI';
  font-size: 30px;
  font-weight: bold;
}

#footer p{
  text-align: center;
}

#footer p1{
  text-align: right;
}

#footer .btn-dk{
  width: 86%;
}

.cartbox {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Segoe UI';
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 450;
    width: 160px;
    right: 50px;
    text-align: right;
    margin-top: -2px;
}

.cartbox a{
  color: #ff6600;
}

.cartbox .fa {
    font-size: 22px
}

.cartbox .fa-shopping-cart {
    padding-right: 2px;
}

.cartbox .fa-caret-down {
    padding-left: 2px;
}

#carousel-header{
  top: -15px;
  left: 110px;
}

.carousel-inner.vertical {
  height: 80px;
}

.carousel-inner.vertical img{
  border-radius: 4px;
}

.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}

.carousel-inner.vertical > .item {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -o-transition: -o-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
}
.carousel-inner.vertical > .item.next,
.carousel-inner.vertical > .item.active.right {
  -webkit-transform: translate3d(0, 33.33%, 0);
  transform: translate3d(0, 33.33%, 0);
  top: 0;
}
.carousel-inner.vertical > .item.prev,
.carousel-inner.vertical > .item.active.left {
  -webkit-transform: translate3d(0, -33.33%, 0);
  transform: translate3d(0, -33.33%, 0);
  top: 0;
}
.carousel-inner.vertical > .item.next.left,
.carousel-inner.vertical > .item.prev.right,
.carousel-inner.vertical > .item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  top: 0;
}

@media(max-width: 1200px){
    #carousel-header{
      top: 10px;
      left: 65px;
      width: 580px;
    }

    .carousel-inner.vertical{
      height: 64px;
    }


}

@media(max-width: 1000px){
  #carousel-header{
    top: 15px;
    left: 65px;
    width: 580px;
  }

  .carousel-inner.vertical{
    height: 64px;
  }

  .header-top .container{
    margin-left: 30px;
  }

  .header-top .navbar-top-wap{
    margin-right: 30px;
  }

  #navbar .container{
    margin-left: 30px;
  }
}

@media(max-width: 991px){
  #carousel-header{
    top: 15px;
    left: 65px;
    width: 580px;
  }

  .carousel-inner.vertical{
    height: 64px;
  }

  .header-top .navbar-top-wap{
    margin-right: -200px;
  }

  #footer .footer-widget .container .row{
    margin-right: -350px !important;
  }

  #footer .container{
    margin-left: 30px;
  }

  .cartbox{
    margin-right: -190px;
  }

  #footer .insset-footer{
    margin-right: -200px;
  }
}

@media(max-width: 930px){
  .header-top .navbar-top-wap{
    margin-right: -160px;
  }

  #footer .footer-widget .container .row{
    margin-right: -300px !important;
  }

  .cartbox{
    margin-right: -160px;
  }

  #footer .insset-footer{
    margin-right: -160px;
  }
}

@media(max-width: 890px){
  #carousel-header{
    top: 15px;
    left: 65px;
    width: 500px;
  }

  .carousel-inner.vertical{
    height: 53px;
  }

  .header-top .navbar-top-wap{
    margin-right: -120px;
  }

  #footer .footer-widget .container .row{
    margin-right: -300px !important;
  }

  .cartbox{
    margin-right: -120px;
  }

  #footer .insset-footer{
    margin-right: -120px;
  }
}

@media(max-width: 850px){
  #carousel-header{
    display: none;
  }

  .header-top .navbar-top-wap{
    margin-right: -30px;
  }

  #footer .footer-widget .container .row{
    margin-right: -180px !important;
  }

  #footer .nhan-email{
    top: -30px;
  }

  .cartbox{
    margin-right: -50px;
  }

  #footer .insset-footer{
    margin-right: -50px;
  }

}


@media(max-width: 720px){
  #footer .dat-hang-ngay{
      display: none;
  }

  #footer .logo-bcl{
    display: none;
  }

  #footer .pack-demo{
    display: none;
  }
}

@media(max-width: 732px){
  #footer .submit-mail-title{
    font-size: 14px;
    font-weight: 500;
  }
}

@media(max-width: 676px){
  .header-top .navbar-top-wap{
    margin-right: 0px;
  }

  #footer .nhan-email{
    display: none;
  }

  .thuc-don-1{
      margin-right: 100px;
      margin-left: 20px;
  }

  .cartbox{
    margin-right: -40px;
  }

  #footer .insset-footer{
    margin-right: -50px;
  }
}

@media(max-width: 601px){
  #footer .insset-footer{
    display: none;
  }
}

@media(max-width: 585px){
  .thuc-don-1{
      margin-right: 40px;
  }

  #footer .footer-widget .container .row{
    margin-right: -300px !important;
  }
}

@media(max-width: 524px){
  .logo-col{
    margin-left: -20px;
    width: 100px;
  }

    #footer .thuc-don-2{
      width: 300px;
    }
}

@media(max-width: 495px){
  .logo-col{
    display: none;
  }

  #footer .thuc-don-1{
      margin-left: 20px;
      margin-right: 60px;
  }

  #footer .thuc-don-1 h2{
    margin-left: 50px;
  }
}

.regform .date_day,.regform .date_month,.regform .date_year{
  border-radius: 4px;
  border: .5px solid gray;
}


.danh-muc .menu{
    position: relative;
    display: inline;
    max-width: 800px;
    width: auto;
    margin-left: -60px;
}

.carousel-bcl{
  display: none;
  height: auto;
  width: auto;
  overflow: hidden;
}


#navbar .logo{
  display: inline-block;
}

#navbar .control{
  display: none;
  line-height: 40px;
  width: 5px;
  font-size: 15px;
  color: black;
  text-align:center;
}

.danh-muc .menu li, .carousel-bcl .item a{
  display: inline-block;
  line-height: 45px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Segoe UI';
  text-transform: uppercase;

  margin: 0 5% 0 5%;
}

.carousel-bcl .item a{
  margin-top: 15px;
}

.danh-muc .menu li a, .carousel-bcl .item a{
  color: #F55B51;
}

.danh-muc .menu li a:hover, .danh-muc .menu li a:active, .carousel-bcl .item a:hover, .carousel-bcl .item a:active{
  color: red;
}

@media (max-width: 1200px){
  .danh-muc .menu li{
    font-size: 16px;
    margin: 0 4% 0 4%;
  }
}

@media (max-width: 1020px){

  .danh-muc .menu li{
    margin: 0 3% 0 3%;
  }
}

@media(max-width: 1000px){

  .carousel-bcl .carousel-inner{
    margin-left: -50px;
  }

  #navbar .logo-block{
    width: 250px;
    padding: 0 auto;
    margin-right: -80px;
  }

  #navbar .list-block{
    width: 600px;
    left: 0%;
    margin-right: -150px;
    margin-top: -15px;
  }

  #navbar .cart-block{
    width: 100px;
    padding: 0 auto;
  }

  #navbar .cart-block .text-cart{
    display: none;
  }

  .carousel-bcl{
    display: block;
  }

  #navbar .control{
    display: inline-block;
  }

  #navbar .control.left{
    margin-left: 0px;
  }

  #navbar .control.right{
      margin-right: 20px;
    }

  .danh-muc .menu{
    display: none;
  }
}


@media(max-width: 850px){
  #navbar .list-block{
    width: 500px;
    margin-right: -80px;
  }
}

@media(max-width: 767px){
  #navbar .list-block{
    width: 400px;
    margin-right: -60px;
  }
}

@media(max-width: 687px){
  #navbar .list-block{
    width: 300px;
    margin-right: -40px;
  }
}

@media(max-width: 606px){
  #navbar .list-block{
    width: 250px;
    margin-right: -20px;
  }
}

@media(max-width: 576px){
  #navbar .logo-bcl{
    display: none;
  }
  .carousel-bcl .item a{
    font-size: 18px;
  }

  #navbar .logo-block{
      margin-top: 10px;
      margin-right: -240px;
  }

  #navbar .list-block{
    width: 400px;
    margin-right: -60px;
  }
}

@media(max-width: 526px){

  #navbar .logo-block{
      margin-top: 10px;
      margin-right: -200px;
  }
}

@media(max-width: 517px){
  #navbar .list-block{
    width: 300px;
    margin-right: -50px;
  }
}

@media(max-width: 480px){

    #navbar .logo-block{
        margin-left: -120px;
        margin-right: -100px;
    }
}

.thucdon-tabs{
  width: auto;
}

.thucdon-tabs a:hover,a:focus{
    outline: none;
    text-decoration: none;
}
.thucdon-tabs .tab{ text-align: center; }
.thucdon-tabs .tab .nav-tabs{
    display: inline-block;
    border-bottom: none;
    position: relative;
}
.thucdon-tabs .tab .nav-tabs li{
    margin-bottom: 0;
}
.thucdon-tabs .tab .nav-tabs li a{
    display: block;
    padding: 20px;
    border: none;
    border-radius: 0;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444;
    margin-right: 0;
    text-align: center;
    z-index: 1;
    transition: all 1s ease .1s;
}
.thucdon-tabs .tab .nav-tabs li a i{
    display: block;
    font-size: 40px;
    color: #ff0000;
    margin-bottom: 15px;
}
.thucdon-tabs .tab .nav-tabs li.active a,
.thucdon-tabs .tab .nav-tabs li a:hover{
    border: none;
    background: transparent;
}
.thucdon-tabs .tab .nav-tabs li a:before,
.thucdon-tabs .tab .nav-tabs li a:after{
    content: "";
    width: 0;
    border-top: 3px solid #ff0000;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all 1s ease .1s;
}
.thucdon-tabs .tab .nav-tabs li a:after{
    left: auto;
    right: 0;
}
.thucdon-tabs .tab .nav-tabs li.active a:before,
.thucdon-tabs .tab .nav-tabs li a:hover:before,
.thucdon-tabs .tab .nav-tabs li.active a:after,
.thucdon-tabs .tab .nav-tabs li a:hover:after{
    width: 50%;
}
.thucdon-tabs .tab .tab-content{
    padding: 20px;
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #d7d6d6;
    font-size: 15px;
    color: #757575;
    line-height: 30px;
}
.thucdon-tabs .tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (max-width: 479px){
    .thucdon-tabs .tab .nav-tabs li{
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .thucdon-tabs .tab .nav-tabs li a,
    .thucdon-tabs .tab .nav-tabs li a:hover{ border-bottom: 1px solid #dfdfdf; }
    .thucdon-tabs .tab .tab-content{ border-top: none; }
}
