body{
  overflow-x: hidden;
  margin: 0 0 0 0;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  width: 100%;
}

@media(max-width: 767px){
  html, body { max-width: 100% !important;}
}

/* Preloader Style */
.preloader{
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99;
}

.loader{
  width: 300px;
  height: 300px;
  margin: 15% auto;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader .loader-inner,
.loader .box-1,
.loader .box-2,
.loader .box-3{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 50px solid #0b2027;
  position: absolute;
  top: 0;
  left: 0;
}
.loader .loader-inner{
  border-width: 1px;
  border-color: #f28a03;
  opacity: 0;
  transform-origin: 50% 50%;
  -webkit-animation: loading-2 2s linear infinite;
  animation: loading-2 2s linear infinite;
  animation-delay: 2s;
}
.loader .loader-inner.box{ animation-delay: 2.5s; }
.loader .box-1{
  width: 275px;
  height: 137px;
  border-width: 25px;
  border-color :#ffa630;
  border-radius: 0;
  border-top-left-radius: 137px;
  border-top-right-radius: 137px;
  top: 12px;
  left: 12px;
  border-bottom: none;
  z-index: 3;
  transform-origin: 50% 100%;
  -webkit-animation: loading-1 0.8s linear infinite;
  animation: loading-1 0.8s linear infinite;
}
.loader .box-2{
  width: 250px;
  height: 250px;
  border-width: 2px;
  border-color: #ffa630;
  top: 25px;
  left: 25px;
  z-index: 2;
}
.loader .box-3{ z-index: 1; }
@-webkit-keyframes loading-1{
  from{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading-1{
  from{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-2{
  49%{
    opacity: 0;
  }
  50%{
    -webkit-transform: scale(1);
    opacity: 1;
  }
  75%{
    -webkit-transform: scale(1.15);
    opacity: 0.4;
  }
  100%{
    -webkit-transform: scale(1.35);
    opacity: 0;
  }
}
@keyframes loading-2{
  49%{
    opacity: 0;
  }
  50%{
    -webkit-transform: scale(1);
    opacity: 1;
  }
  75%{
    -webkit-transform: scale(1.15);
    opacity: 0.4;
  }
  100%{
    -webkit-transform: scale(1.35);
    opacity: 0;
  }
}
@media only screen and (max-width: 360px){
  .loader{ overflow: hidden; }
}

/* End Preloader */

.display-none{
  display: none;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

nav.nav-header {
  min-height: 105px;
  max-height: 105px;
  border-right: 0;
  border-left: 0;
  border-top: 5px solid #bc1414 !important;
  border-bottom: 0;
  margin-bottom: 0px !important;
  border-radius: 0
}

.navbar-top-wap {
  background-image: url(../images/nav-top.png);
  width: 250px;
  height: 25px;
  margin-top: -5px;
  margin-right: 15px;
  font-size: 14px;
  right: 50px;
  float: right;
}

.userbox {
  text-align: center;
  padding: 0 0 0 0  !important;
  z-index: 1;
}

.userbox > a {
  padding: 0 3px 0px 6px;
  line-height: 16px;
  color: white;
  font-weight: 550;
}

.userbox > a + a {
  border-left: 1px solid #fff
}

.userbox > .logged-desktop > a {
  padding: 0 3px 0px 6px;
  line-height: 14px;
  transition: all 0.1s;
}

.userbox > .logged-desktop > a:hover {
  color: #ffc220 !important;
}

.avatar{
  display: inline-block;
}

.title-login{
  font-family: 'Segoe UI';
  font-weight: bold;
  font-size: 28px;
  vertical-align: top;
  color: #ed1b24;
  text-transform: uppercase
}

.avatar-login{
  vertical-align: top;
  margin-right: 1em;
}

.modal-header .btn-close{
  background-image: url(../images/close_gray.png);
  width: 24px;
  height: 24px;
  margin-top: -20px;
  margin-right: -20px;
  float:right;
  opacity:.2;
  filter:alpha(opacity=20);
}

.modal-header .btn-close:hover, .modal-header .btn-close:focus{
  background-image: url(../images/close_red.png);
  opacity:.7;
  filter:alpha(opacity=70);
}

.n-vertical {
  height: 12px;
  width: 100%;
  position: absolute;
  left: 15%;
}

.n-vertical.top {
  top: -13.5px
}

.n-vertical.bottom {
  bottom: -13.5px
}

.n-vertical span {
  display: block;
  float: left;
  width: 10%;
  height: 100%
}

.n-vertical span:nth-child(2n+2) {
  background: #F05260;
}

.n-vertical span:nth-child(2n+1) {
  background: #03bedb;
}

.n-vertical span:nth-child(3n+1) {
  background: #99EDA3;
}

.popup-wap {
  position: relative;
  padding: 20px;
  border: 1.5px solid #ECA7A7;
  border-radius: 8px;
  margin: 12px
}

.modal {
  text-align: center;
  padding: 0!important;
  overflow-y: auto !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  min-width: 600px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#popup-terms .modal-dialog{
  width: 80%;
}

#popup-terms .content{
  font-size: 16px;
}

.form-group .floating-label {
  top: 8px;
  color: #a3afb7;
  margin-left: 25px;
  position: absolute;
  left: 0;
  font-size: 16px;
  pointer-events: none;
  transition: .3s ease all;
  font-weight: 500;
}

.form-group {
  position: relative;
  padding: 0px 15px 0px 15px;
}

.form-group .focus:focus, .form-group input:-webkit-autofill:focus {
  background-image: linear-gradient(#87d3ed, #87d3ed), linear-gradient(#e4eaec, #e4eaec) !important;
  background-size: 100% 3px,100% 2px;
  outline: 0;
  transition-duration: .3s;
}

.form-group .focus {
  padding: 0px 10px -5px 10px;
  height: 40px;
  float: none;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: none;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-size: 0 2px,100% 1px;
  transition: background 0s ease-out;
}

.form-group .focus:not(.empty){
  padding-top: 5px;
  padding-left: 50%;
}

.form-group .focus:not(.empty) ~ .floating-label {
  top: 8px;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

.form-group .focus:focus{
  padding-top: 16px;
  padding-left: 10px;
}

.form-group .focus:focus ~ .floating-label {
  color: #2f7a93;
  top: 0px;
  font-size: 13px;
  font-weight: bold;
}

#footer .form-group .focus:not(.empty){
  padding-top: 16px;
  padding-left: 15;
  text-align: right;
}

#footer .form-group .focus:not(.empty) ~ .floating-label {
  top: 0px;
  font-size: 13px;
  font-weight: bold;
  color: #2f7a93;
}

#footer .form-group .focus:focus{
  padding-top: 16px;
  padding-left: 15px;
  text-align: right;
}

#footer .form-group .focus:focus ~ .floating-label {
  color: #2f7a93;
  top: 0px;
  font-size: 13px;
  font-weight: bold;
}

@media (max-width: 991px) {

  .form-group .focus:not(.empty){
    padding-left: 10px;
  }

  .form-group .focus:not(.empty) ~ .floating-label {
    display: none;
  }

  .form-group .focus:focus{
    padding-top: 5px;
    padding-left: 10px;
  }

  .form-group .focus:focus ~ .floating-label {
    display: none;
  }
}

.text-danger{
  position: relative;
  top: 10px;
  margin: 5px 0px 0px 30px;
  color: red;
  opacity: 0.5;
}

.text-danger:hover{
  opacity: 0.9;
}

input[type=checkbox], input[type=radio]{
  visibility: hidden;
}

input[type=checkbox]:checked + label:after{
  opacity: 1;
}

input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../images/checks.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=radio]:not(old):checked + label{
  background-position : 0 -24px;
}

.chkbox{
  position: relative;
  margin: 10px 0px 0px 30px;
  color: #15608c;
}

#chkbox-label, #chkbox-agreement, #chkbox-email{
  padding-top: 10px;
  margin-left: 0px;
  font-size: 16px;
}

.chkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.chkbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.chkbox label:after {
  content: '';
  width: 12px;
  height: 6px;
  position: absolute;
  top: 6px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.chkbox label:hover:after {
  opacity: 0.5;
}

.b-btn .input-group .form-control, .btn-dk {
  background-color: #f1022a;
  text-transform: uppercase;
  font-family: 'Segoe UI';
  font-size: 16px;
  padding: 0;
  height: 42px;
  line-height: 40px;
  border-radius: 4px;
}
.popup-open-line{
  content: "";
  position: relative;
  top: 20px;
  margin-left: 0px;
  width: 100%;
  border-bottom: 1px solid #707070;
}

.popup-close-line{
  content: "";
  position: relative;
  margin-right: 0px;
  top: 20px;
  width: 100%;
  border-bottom: 1px solid #707070;

}

.lb-haveaccount{
  position: relative;
  color: #15608c;
  margin-top: 10px;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.fb .form-control {
  width: 100%;
  background-color: #4962a4;
  border-color: #4962a4;
  color: #fff;
  text-align: center
}

.fb .input-group-addon {
  background-color: #2e4c9c;
  border-color: #2e4c9c
}

.gm .form-control {
  width: 100%;
  background-color: #e8353c;
  border-color: #e8353c;
  color: #fff;
  text-align: center
}

.gm .input-group-addon {
  background-color: #d1131a;
  border-color: #d1131a
}

.input-group-addon {
  padding: 0 10px;
  border-radius: 4px 0 0 4px;
}

.input-group-addon .fa {
  font-size: 26px;
  width: 26px;
  color: #fff;
  background: none;
}

imp{
  color: red;
}

.nhan{
  margin-top: 5px;
}

.form-control{
  margin-bottom: 10px;
}

.gioitinh {
  margin: 0;
}

.gioitinh label {
  font-size: 16px !important;
  margin: 10px 0px 10px 0px;
}

.gioitinh label span {
  border-radius: 4px;
  background-color: #f6f6f6;
  border-color: #959595;
}

.lblgioitinh{
  margin-top: 10px;
}

.input-err{
  border-color:#2b542c;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #67b168;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #67b168
}

.navbar-bcl{
  max-height: 40px;
  overflow: hidden;
}

.navbar-bcl .logo{
  margin-top: 5px;
}


.header-top .brand{
  width: 90px;
  margin-left: 40px;
  margin-top: 5px;
}

.btn-bcl{
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  font-family: "Segoe UI";
  font-weight: 550;
  overflow: hidden;
  z-index: 1;
  position: relative;
  background-color: red;
  transition: all 0.3s ease-in-out 0.2s;
}

.btn-bcl:hover, .btn-bcl:focus{ color: #fff; }
.btn-bcl:after{
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%) translateZ(0px) rotate(-45deg);
  transition: all 0.5s ease 0s;
}
.btn-bcl:hover:after{
  height: 110px;
}
.btn-bcl.red{ border: 2px solid red; }
.btn-bcl.blue{ border: 2px solid red; }
.btn-bcl.orange{ border: 2px solid red; }
.btn-bcl.green{ border: 2px solid red; }
.btn-bcl.red:after{ background: #3360A0; }
.btn-bcl.blue:after{ background: #3bb4e5; }
.btn-bcl.orange:after{ background: #ee955b; }
.btn-bcl.green:after{ background: #79d799; }
@media only screen and (max-width: 767px){
  .btn-bcl{ margin-bottom: 20px; }
}

.btn-bcl:focus{
  background-color: #09A243;
  border: 2px solid red;
}

#footer {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: white;
}

#footer h2{
  font-weight: bold;
  font-size:20px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 10px;
  border-bottom: 3px solid #eeeeee;
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-left: 20px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer h2:hover{
  color: red;
  margin-left: 25px;
}

#footer h3{
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  opacity: 0;
}

#footer h4{
  font-size:20px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 3px solid #eeeeee;
  padding-right: 0px;
  margin-right: 0px;
  padding-top:0px;
  margin-bottom: 30px;
  margin-left: 20px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}


#footer .pack-demo{
  max-width: 130px;
  max-height: 130px;
  width: auto;
  height: auto;
}

@media(max-width: 1200px){
  .dat-hang-ngay h2{
    display: none;
  }

  .dat-hang-ngay{
    margin-top: 20px;
  }

  #footer .flip-container{
    margin-top: 20px;
    max-width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
  }

  #footer .pack-demo{
    max-height: 100px;
    max-width: 100px;
    weight: auto;
    height: auto;
  }
}

@media(max-width: 1080px){
  #footer .right-footer{
    display: none;
  }
}

@media(max-width: 1060px){
  #footer .nhan-email{
    padding-right: 20px;
  }
}

@media(max-width: 1040px){
  #footer .nhan-email{
    padding-right: 40px;
  }

  .navbar-top-wap{
    margin-right: 50px;
  }
}

@media(max-width: 1020px){
  .dat-hang-ngay{
    display: none;
  }

  #footer .nhan-email{
    width: 350px !important;
  }

  .insset-footer{
    padding-right: 50px;
  }

}


@media(max-width: 767px){
  #footer .footer-widget{
    display: block;
  }

  #footer .dat-hang-ngay{
    margin-left: -70px;
  }

  #footer .pack-demo{
    max-height: 130px;
    max-width: 130px;
    weight: auto;
    height: auto;
  }

  #navbar .col-logo{
    margin-left: auto;
  }
}

@media(max-width: 750px){
  #footer .dat-hang-ngay{
    max-width: 160px;
    max-height: 160px;
    width: auto;
    height: auto;
    padding-top: 20px;
  }
}

#footer ul.quick-links li, #footer .logo-delivery, #footer .logo-bcl{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left: 10px;
}

#footer ul.quick-links li a{
  font-weight: 333;
  text-transform: uppercase;
  color:black;
}

#footer .thuc-don-1 h2{
  width: 200px;
}

#footer .thuc-don-1 .item-list, #footer .thuc-don-2 .item-list{
  padding-left: 10px;
  border-left: 2px solid red;
}

#footer .logo-delivery:hover, #footer .logo-bcl:hover{
  margin-left: 30px;
}

.flip-container{
  perspective: 1000px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin-bottom: 0px;
}

#footer .flip-container{
  margin-bottom: 140px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

#social:hover {
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
}
#social {
  margin-top: -5px;
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.social-fb:hover {
  color: #3B5998;
}
.social-tw:hover {
  color: #4099FF;
}
.social-gp:hover {
  color: #d34836;
}
.social-em:hover {
  color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}

.fright{
  display:block;
  float:right !important;
}

#footer .copyright {
  height: 40px;
  line-height: 40px;
  color: #1d1d1d;
  float: left
}

#footer .copyright a {
  color: #8d8c8a
}

#footer .copyright a:hover {
  color: #d11920
}
#footer .insset-footer {
  margin-top: 14px;
  margin-right: 50px
}

@media (max-width: 960px) {

}

#footer .insset-footer li {
  float: left
}

#footer .insset-footer li:first-child a {
  border-left: none
}

#footer .insset-footer li a {
  display: block;
  padding: 0 14px;
  color: #1d1d1d;
  border-left: #1d1d1d 1px solid;
  padding-bottom: 3px;
  line-height: 12px
}

#footer .insset-footer li a:hover {
  color: #d11920
}



.submit-mail-title{
  height: 42px;
  line-height: 40px;
  font-size: 17px;
  text-align: center;
}

#footer p, #footer p1{
  font-family: 'SegoeUI';
  font-size: 30px;
  font-weight: bold;
}

#footer p{
  text-align: center;
}

#footer p1{
  text-align: right;
}

#footer .btn-dk{
  width: 86%;
}

.logo-bcl{
  margin-top: 5px;
  width: 100px;
}

.cartbox {
  position: absolute;
  text-transform: uppercase;
  font-family: 'Segoe UI';
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  font-weight: 450;
  right: 50px;
  text-align: right;
  margin-top: 0px;

  float: right;
  overflow: auto;
  white-space: nowrap;
}

.cartbox a{
  color: #ff6600;
}

.cartbox .fa {
  font-size: 22px
}

.cartbox .fa-shopping-cart {
  padding-right: 2px;
}

.cartbox .fa-caret-down {
  padding-left: 2px;
}

#carousel-header{
  top: -15px;
  left: 230px;
  max-width: 888px;
}

.carousel-inner.vertical {
  height: 80px;
}

.carousel-inner.vertical img{
  border-radius: 4px;
}

.carousel-inner.vertical > .item {
  transition: 500ms ease-in-out left;
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}

.carousel-inner.vertical > .item {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -o-transition: -o-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
}

.carousel-inner.vertical > .item.next,
.carousel-inner.vertical > .item.active.right {
 -webkit-transform: translate3d(0, 33.33%, 0);
  transform: translate3d(0, 33.33%, 0);
  top: 0;
}
.carousel-inner.vertical > .item.prev,
.carousel-inner.vertical > .item.active.left {
  -webkit-transform: translate3d(0, -33.33%, 0);
  transform: translate3d(0, -33.33%, 0);
  top: 0;
}
.carousel-inner.vertical > .item.next.left,
.carousel-inner.vertical > .item.prev.right,
.carousel-inner.vertical > .item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  top: 0;
}

@media(max-width: 1400px){
  #carousel-header{
    top: -15px;
    left: 200px;
  }
}

@media(max-width: 1200px){
  #carousel-header{
    display: none;
  }
}

@media(max-width: 1000px){
  .header-top .navbar-top-wap{
    margin-right: 30px;
  }
}

@media(max-width: 1040px){
  .header-top .navbar-top-wap{
    margin-right: -200px;
  }
  .header-top .navbar-top-wap{
    margin-right: -20%;
    }

    #footer .thuc-don-1{
        margin-left: 20px;
        margin-right: 10px;
      }

      #footer .nhan-email{
        width: 300px !important;
      }

      #footer .container{
        width: 100%;
      }

  #footer .insset-footer{
    margin-right: 0px;
  }
}

@media(max-width: 930px){
  .header-top .navbar-top-wap{
    margin-right: -13%;
    }
}

@media(max-width: 890px){
  .header-top .navbar-top-wap{
    margin-right: -9%;
    }

}

@media(max-width: 850px){

  .header-top .navbar-top-wap{
    margin-right: 10%;
  }

  .navbar .text-cart{
    display: none;
  }

  #footer .nhan-email{
    top: -30px;
  }
}

@media(max-width: 820px){

  #footer .nhan-email{
    left: 40px;
  }

}

@media(max-width: 780px){
  .header-top .container{
    margin-left: 0px;
    width: 100%;
  }
}

@media(max-width: 740px){
  #footer .thuc-don-2{
    width: 200px !important;
  }

  #footer .nhan-email{
    margin-left: -50px;
    width: 250px !important;
  }
}

@media(max-width: 732px){
  #footer .submit-mail-title{
    font-size: 14px;
    font-weight: 500;
  }
  #footer .nhan-email{
    margin-left: -100px;
    width: 220px !important;
  }
}

@media(max-width: 720px){
  #footer .dat-hang-ngay{
    display: none;
  }

  #footer .logo-bcl{
    display: none;
  }

  #footer .pack-demo{
    display: none;
  }
}

@media(max-width: 676px){
  .header-top .navbar-top-wap{
    margin-right: 0px;
  }

  #footer .nhan-email{
    display: none;
  }

  #footer .logo-col{
    margin-left: 50px;
  }

    #footer .thuc-don-1, #footer .thuc-don-2{
      margin-left: 60px;
      margin-right: 15px;
    }

}

@media(max-width: 630px){
  #footer .logo-col{
    margin-left: 30px;
  }

    #footer .thuc-don-1{
      margin-left: 60px;
    }
    #footer .insset-footer{
      display: none;
    }
}

@media(max-width: 601px){
  #footer .thuc-don-2{
    width: 150px !important;
  }
}

@media(max-width: 585px){
  #footer .thuc-don-1{
    margin-right: 40px;
  }
  #footer .thuc-don-2{
    margin-left: 10px;
  }
}

@media(max-width: 524px){
  .logo-col{
    display: none;
  }

  #footer .thuc-don-1{
    margin-left: 80px;
    margin-right: 100px;
  }

  #footer .thuc-don-1 h2{
    width: 200px;
  }
}

@media(max-width: 495px){
  #footer .thuc-don-1{
    margin-left: 50px;
    margin-right: 120px;
    width: 10px !important;
  }

  #footer .thuc-don-1 h2{
    margin-left: 50px;
    width: 200px;
  }
}

@media(max-width: 385px){
  .hamburger{
    display: none;
  }

  .header-top .flip-container{
    margin-left: -30px;
  }

  #footer .thuc-don-1{
    margin-left: 10px;
  }
  #footer .thuc-don-2{
    margin-left: 10px;
  }

}

@media(max-width: 350px){
  .header-top .front, .header-top .back{
    width: 80px;
  }

  .header-top .front{
    margin-left: -20px;
  }

  #footer .thuc-don-1{
    margin-left: 10px;
  }
  #footer .thuc-don-2{
    margin-left: 10px;
  }
}

.regform .date_day,.regform .date_month,.regform .date_year{
  border-radius: 4px;
  border: .5px solid gray;
}


.danh-muc .menu{
  position: relative;
  display: inline;
  width: 100%;
}

.carousel-bcl{
  height: auto;
  width: auto;
  overflow: hidden;
  top: -15px;
  left: -30px;
}

.carousel-bcl .item{
  padding-left: 100px;
}

@media(max-width: 767px){
  .carousel-bcl{
    left: -60px;
  }
}

#navbar .logo{
  display: inline-block;
}

#navbar span.control{
  width: 10px;
  top: 5px;
  font-size: 0px;
  color: black;
}

#navbar span.carousel-bcl-control-right{
  top: 0px;
}

.danh-muc .menu li, .carousel-bcl .item a{
  display: inline-block;
  line-height: 45px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Segoe UI';
  text-transform: uppercase;

  margin: 0 5% 0 5%;
}

.carousel-bcl .item a{
  margin-top: 15px;
}

.danh-muc .menu li a, .carousel-bcl .item a{
  color: #F55B51;
}

.danh-muc .menu li a:hover, .danh-muc .menu li a:active, .carousel-bcl .item a:hover, .carousel-bcl .item a:active{
  color: red;
}

@media (max-width: 1200px){
  .danh-muc .menu li{
    font-size: 16px;
    margin: 0 4% 0 4%;
  }
}

@media (max-width: 1020px){

  .danh-muc .menu li{
    margin: 0 3% 0 3%;
  }
}

.thucdon-tabs{
  width: auto;
}

.thucdon-tabs .tab .carousel-tabs{
  max-height: 45px;
  width: 100%;
  overflow: hidden;
  margin: -20px 10px 10px -10% !important;
}

.thucdon-tabs .tab .carousel-tabs .item a{
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

.thucdon-tabs a:hover,a:focus{
  outline: none;
  text-decoration: none;
}
.thucdon-tabs .tab{ text-align: center; }
.thucdon-tabs .tab .nav-tabs{
  display: inline-block;
  border-bottom: none;
  position: relative;
}
.thucdon-tabs .tab .nav-tabs li{
  margin-bottom: 0;
}
.thucdon-tabs .tab .nav-tabs li a, .thucdon-tabs .tab .carousel-tabs .item a{
  display: block;
  padding: 20px;
  border: none;
  border-radius: 0;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #444;
  margin-right: 0;
  text-align: center;
  z-index: 1;
  transition: all 1s ease .1s;
}
.thucdon-tabs .tab .nav-tabs li a i{
  display: block;
  font-size: 40px;
  color: #ff0000;
  margin-bottom: 15px;
}
.thucdon-tabs .tab .nav-tabs li.active a,
.thucdon-tabs .tab .nav-tabs li a:hover,
.thucdon-tabs .tab .carousel-tabs .item:hover,
.thucdon-tabs .tab .carousel-tabs .item.active{
  border: none;
  background: transparent;
}
.thucdon-tabs .tab .nav-tabs li a:before,
.thucdon-tabs .tab .nav-tabs li a:after,
.thucdon-tabs .tab .carousel-tabs .item:before,
.thucdon-tabs .tab .carousel-tabs .item:after{
  content: "";
  width: 0;
  border-top: 3px solid #ff0000;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: all 1s ease .1s;
}
.thucdon-tabs .tab .nav-tabs li a:after,
.thucdon-tabs .tab .carousel-tabs .item:after{
  left: auto;
  right: 0;
}
.thucdon-tabs .tab .nav-tabs li.active a:before,
.thucdon-tabs .tab .nav-tabs li a:hover:before,
.thucdon-tabs .tab .nav-tabs li.active a:after,
.thucdon-tabs .tab .nav-tabs li a:hover:after{
  width: 50%;
}
.thucdon-tabs .tab .tab-content{
  padding: 20px;
  margin-top: -5px;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #d7d6d6;
  font-size: 15px;
  color: #757575;
  line-height: 30px;
}
.thucdon-tabs .tab .tab-content h3{
  font-size: 24px;
  margin-top: 0;
}

@media(max-width: 991px){
  .thucdon-tabs .tab .carousel-tabs{
    display: block;
  }

  .danh-muc{
    display: none;
  }

  #navbar span.control{
    font-size: 15px;
    right: 5px;
  }
}

.thucdon-tabs .control{
  display: none;
  position: absolute;
  line-height: 40px;
  width: 5px;
  font-size: 15px;
  color: #870901;
  text-align:center;
  font-weight: bold;
  margin-top: 3px;
}

@media(max-width: 1200px){
  .thucdon-tabs .control{
    display: inline-block;
  }

  .thucdon-tabs .control.left{
    left: 10%;
  }

  .thucdon-tabs .control.right{
    right: 10%;
  }
}

.item-card {
  position: relative;
  width: 260px;
  height: 260px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotatey(0deg) translatex(0px) translatey(0px);
  transform: rotatey(0deg) translatex(0px) translatey(0px);
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 99;
  border: 2px solid red;
}
.item-card.open {
  width: 260px;
  height: 260px;
  -webkit-transform: rotatey(-180deg) translatex(0px) translatey(0px);
  transform: rotatey(-180deg) translatex(0px) translatey(0px);
}
.item-card .front-facing {
  -webkit-transform: rotateY(0deg) translateZ(2px);
  transform: rotateY(0deg) translateZ(2px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px white solid;
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
  background: url("../images/item.png") no-repeat;
}
.item-card .front-facing .abr {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 42px;
  margin: -35px 0 0 0;
  text-align: center;
}

.item-card .front-facing .disp{
  max-width: 300px;
  max-height: 170px;
  margin: 10px auto auto auto;
  overflow: hidden;
  transition: transform .2s;
  z-index: -99;
  border-radius: 4px;
  background-color: white;
  border: 1px solid gray;
}

.item-card .front-facing .disp:hover{
  transform: scale(1.5);
}

.item-card .front-facing .title {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: black;
  background-color: white;
margin-bottom: 5px;
}

.item-card .price{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -5px;
  font-size: 22px;
  color: red;
  font-weight: bold;
  background-color: white;
  background-size: auto 100px;
    border-top: 2px solid red;
}

.item-card .btn-like{
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
  bottom: 5px;

  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.item-card .btn-like:hover{
  transform: scale(1.2);
}

.item-card .btn-add-cart{
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0px;
  bottom: -5px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

.item-card .btn-add-cart:hover{
  transform: scale(1.2);
}

.item-card .back-facing {
  -webkit-transform: rotateY(180deg) translateZ(0px);
  transform: rotateY(180deg) translateZ(0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  border: 2px white solid;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.item-card .back-facing .title {
  width: 100%;
  position: absolute;
  left: 0;
  top: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: black;
  background-color: white;
  margin-bottom: 5px;
  border-bottom: 2px solid red;
}


.item-card .back-facing a.btn {
  display: inline-block;
  background-color: white;
  padding: 5px 15px;
  margin: 20px 0 0 0;
  color: #eee;
  background-color: #3498db;
  text-decoration: none;
  border-radius: 3px;
}
.item-card .back-facing a.btn:hover, .item-card .back-facing a.btn:focus {
  color: #fff;
  background-color: #2980b9;
}

.item-card .back-facing .details{
  width: 100%;
  position: absolute;
  left: 5%;
  top: 50px;
  font-size: 16px;
  text-align: left;
  color: black;
  height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.userbox .username{
  max-width: 150px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}


.userbox .btn-logout{
  right:0px;
  overflow: hidden;
}

#error-popup .modal-dialog {
    min-width: 300px;
    max-width: 500px;
}

#error-popup .modal-body{
  font-size: 22px;
  text-align: center;
  font-family: "Roboto";
}

.cart-details{
    background-color: white;
    position: fixed;
    border: 2px double gray;
    border-radius: 8px;
    min-width: 280px;
    max-width: 280px;
    height: 320px;
}
.cart-details h1{
    background-color: #C70039;
    padding: 10px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -8px -8px 0 -8px;
    border-radius: 6px;
}

.cart-details .empty-cart{
  margin: 15% auto;
  max-width: 96px;
  max-height: 96px;
  min-width: 96px;
  min-height: 96px;
}

.cart-details h2{
    font-family: SegoeUI;
    font-size: 120%;
    font-weight: 250;
    text-align: center;
}

.cart-details ul{
    overflow: scroll;
    height: 280px;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 10px;
    overflow-x: hidden;
}

.cart-details .item{
    display:block;
    padding: 4px 10px 4px;
    border-bottom: 1px double gray;
}
.cart-details .item:hover{
    background-color:#f3f3f3;
}
.cart-details .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.cart-details .item-left{
    float:left;
}
.cart-details .item-left img,
.cart-details .item-left span.item-info{
    float:left;
}

.cart-details .item-left img{
    border: 1px solid gray;
}

.cart-details .item-left span.item-info{
    margin-left: 10px;
    margin-top: 3%;
    max-width: 120px;
}
.cart-details .item-left span.item-info span{
    display:block;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-details .item-left span.item-info span.item-name{
    font-size: 16px;
    font-weight: bold;
}

.cart-details .item-left span.item-info span.item-price{
    margin-top: 5%;
    margin-left: 15%;
    font-size: 15px;
    color: red;
    font-weight: bold;
}

.cart-details .item-right{
    float:right;
    font-family: Arial;
}
.cart-details .item-right button{
    margin-top: 150%;
}

.cart-details img{
  min-width: 80px;
  min-height: 80px;
  max-width: 96px;
  max-height: 80px;
}

.cart-details .close-cart-box{
  font-family: Roboto;
}

.slick-slide{
   width: 240px;
   margin: 0 -30px;
   outline: none
}

#slider-carousel{
  width: 100%;
  height: auto;
}

#slider-carousel-prev{
  top: 38%;
  left: 80px;
}

#slider-carousel-next{
  top: 38%;
  right: 80px;
}

.carousel-indicators li, .carousel-indicators li.active{
  margin-right: 10px;
}

#info-sect {
    padding: 16px 12px 0;
    background: #fff
}

.checkout-summary-rows {
    margin-bottom: 15px
}

.checkout-summary-rows:last-child {
    margin-bottom: 0
}

.checkout-summary-row {
    display: table;
    width: 100%;
    margin-bottom: 16px
}

.checkout-summary-row:last-child {
    margin-bottom: 0
}

.checkout-summary-label {
    display: table-cell;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0;
    line-height: 16px;
    vertical-align: middle;
    width: 50%;
}

.checkout-summary-value {
    display: table-cell;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #202020;
    letter-spacing: -.44px;
    vertical-align: middle
}

.checkout-summary-count {
    font-size: 12px;
    color: #757575;
    letter-spacing: 0;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px
}

.checkout-order-total {
    margin-top: 10px
}

.checkout-order-total-row {
    display: table;
    width: 100%;
    margin-bottom: 16px
}

.checkout-order-total-row:last-child {
    margin-bottom: 0
}

.checkout-order-total-title {
    display: table-cell;
    font-size: 14px;
    color: #202020;
    line-height: 16px
}

.checkout-order-total-fee {
    display: table-cell;
    font-size: 18px;
    color: #f57224;
    text-align: right
}

.checkout-order-total-fee-tip {
    font-size: 12px;
    color: #424242;
    letter-spacing: 0;
    line-height: 16px;
    display: block;
    text-align: right;
    margin-top: 5px
}

.checkout-order-total-button.next-btn {
    width: 100%;
    height: 40px;
    float: right;
    line-height: 18px;
    margin-left: 12px;
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    text-shadow: 1px 1px 3px #a33131;
    color: #ffffff;
    background: #fa4b4b;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 16px;
}


.c_container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.left-c_container {
    float: left;
}

.right-c_container {
    float: right;
}

.lzd-playground-main {
    min-height: 675px
}

.location-link,
.location-link:visited {
    color: #1a9cb7
}

.location-link:active,
.location-link:focus,
.location-link:hover {
    color: #01839e;
    cursor: pointer;
    text-decoration: none
}

.location-label {
    font-size: 15px;
    color: #9e9e9e;
    letter-spacing: 0;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 11px
}

.location-content {
    display: table;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.current-address {
    display: table-cell;
    color: #202020;
    padding-right: 15px;
    padding-left: 10px;
}

.location-change {
    display: table-cell;
    vertical-align: middle;
    color: #009db4;
    text-align: right;
    text-transform: uppercase;
    white-space: nowrap
}

.cart-item {
    width: 100%;
    padding: 16px 0;
    background-color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    border-bottom: dotted 1px gray;
}

.cart-item-inner {
    display: table;
    width: 100%
}

.cart-item-inner:after {
    display: block;
    content: "";
    clear: both
}

.cart-item-left {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px
}

.cart-item-left:after {
    display: block;
    content: "";
    clear: both
}

.cart-item-left .img-wrap {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 12px;
    border: solid 1px gray;
    border-radius: 4px;
}

.cart-item-left .img-wrap .img {
    width: 60px;
    height: 60px
}

.cart-item-left .content {
    display: inline-block;
}

.cart-item-left .content .title {
    display: block;
    width: 100%;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0;
    font-size: 16px;
    line-height: 18px;
    margin-top: 3%;
}

.cart-item-left .content .operations .delete,
.cart-item-left .content .operations .wishlist {
    cursor: pointer;
    font-size: 24px;
    margin-right: 8px
}

.cart-item-middle {
    display: table-cell;
    vertical-align: top;
    width: 190px;
    padding-left: 9px;
}

.cart-item-middle .current-price {
    font-size: 18px;
    line-height: 28px;
    color: #f57224;
    font-weight: 500;
    margin-bottom: 4px;
    margin-top: 7%;
}

.cart-item-right {
    display: table-cell;
    width: 139px;
    text-align: right
}

.spinner {
  width: 60px;
  margin-top: 5%;
  margin-left: 20%;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

.cart-item-right .btn-delete{
  display: block;
  font-size: 14px;
  margin-top: -25px;
}

.cart-item-right .btn-delete i:hover{
  text-shadow: 0 0 3px #FF0000;
}

.list-header {
    width: 100%;
    height: 40px;
    background-color: #fafafa;
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
    margin-bottom: 12px;

    font-weight: bold;
}

.list-header-left {
    display: inline-block;
    width: 489px;
    line-height: 40px;
    padding-left: 12px;
    text-transform: uppercase
}

.list-header-left .btn-delete i:hover{
  text-shadow: 0 0 3px #FF0000;
}

.list-header-middle {
    width: 177px;
    text-align: left
}

.list-header-middle,
.list-header-right {
    line-height: 40px;
    text-transform: uppercase
}

#user-info{
  width: 200px;
}

.btn-xem-menu{
  margin-top: 20px;
  width: 200px;
}

#user-sect a, #login-sect a{
  color: crimson;
}

#user-sect .active a, #login-sect .active a{
  color: white;
  background-color: crimson !important;
}

.sect-title{
  padding-left: 10px;
  height: 70px;
  margin: 10px;
}

.sect-title h2{
  font-weight: bold;
  color: rgba(211,12,25,1);
  font-size: 25px;
}

.contact-info address{
  margin-left: 30%;
}

.contact-info address p{
  font-size: 16px;
}

.contact-info address #bcl-name{
  font-size: 18px;
  font-weight: bold;
}

#liked .item-card {
  width: 200px;
  height: 200px;
}
#liked .item-card.open {
  width: 200px;
  height: 200px;
}

#liked .item-card .front-facing {
  background: url("");
  background-color: white;
}

#liked .item-card .front-facing .disp{
  max-width: 200px;
  max-height: 120px;
}

#liked .item-card .front-facing .title {
  font-size: 16px;
  margin-bottom: 6px;
}

#liked .item-card .price{
  font-size: 18px;
  padding-top: 4px;
}

#liked .item-card .back-facing .title {
  font-size: 16px;
}

#liked .item-card .back-facing .details{
  font-size: 13px;
  height: 100px;
}

#user-chkbox-not{
  position: relative;
  margin: 10px 0px 0px 30px;
  color: #15608c;
}

.bootstrap-select.btn-group .dropdown-menu{
    background: crimson !important;
}

.bootstrap-select.btn-group .dropdown-menu li a{
    color: white;
    background-color: crimson !important;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
    color: whitesmoke !important;
    background: orange !important;
}

label.user-city, label.user-dist{
  margin-top: 5px;
}

.add_street, .search_menu { padding: .5em 1em; width: 100%; }

.btn-huy{
  background-color: #f1022a;
  font-family: 'Segoe UI';
  font-size: 16px;
  padding: 0;
  height: 42px;
  line-height: 40px;
  border-radius: 4px;
}

.row.item-name{
    float:left;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.error-label{
  color: red;
  font-weight: bold;
}

#search_result #search_txt{
  font-weight: bold;
}
